# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*cpython-310.pyc

# Virtual environment
.venv/
.env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Python egg metadata
*.egg-info/
dist/
build/

# Logs
logs/*
!logs/terminal_log.txt

# Ignore all files in this folder
/*

# Allow this .gitignore file itself
!.gitignore
!.github/

# Source code
src/*
!src/config/
!src/data/